aiohttp==3.8.1
aiosignal==1.2.0
aiostream==0.5.1
altair==4.2.2
annotated-types==0.6.0
anyio==3.7.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.7.2
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
avro==1.11.0
Babel==2.9.1
backcall==0.2.0
bandit==1.7.4
black==22.8.0
bleach==4.1.0
bokeh==2.4.2
boto3==1.21.13
botocore==1.24.13
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.7
cloudpickle==2.0.0
colorama==0.4.6
confluent-kafka==1.9.0
cryptography==41.0.4
cycler==0.11.0
dask==2022.2.0
dataclasses==0.6
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
distributed==2022.2.0
entrypoints==0.4
exceptiongroup==1.1.3
fastapi==0.103.2
fastavro==1.8.2
fonttools==4.29.1
frozenlist==1.3.0
fsspec==2022.3.0
furl==2.1.3
future==0.18.2
geocoder==1.38.1
gitdb==4.0.9
GitPython==3.1.27
great-expectations==0.14.13
greenlet==3.0.0
grpclib==0.4.3
h2==4.1.0
HeapDict==1.0.1
hopsworks==3.2.0
hpack==4.0.0
hsfs==3.2.1
hsml==3.2.1
hyperframe==6.0.1
idna==3.3
imbox==0.9.8
importlib-metadata==4.11.2
importlib-resources==5.4.0
ipykernel==6.9.1
ipython==7.32.0
ipython-genutils==0.2.0
javaobj-py3==0.4.3
jedi==0.18.1
jellyfish==0.6.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
json5==0.9.6
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.4.0
jupyter-client==7.1.2
jupyter-core==4.9.2
jupyter-server==1.13.5
jupyterlab==3.3.0
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
jupytext==1.13.7
kiwisolver==1.3.2
locket==0.2.1
markdown-it-py==3.0.0
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mdit-py-plugins==0.3.0
mdurl==0.1.2
mistune==0.8.4
mock==5.1.0
modal==0.54.3773
msgpack==1.0.3
multidict==6.0.2
mypy-extensions==0.4.3
nbclassic==0.3.6
nbclient==0.5.11
nbconvert==6.4.2
nbformat==5.1.3
nest-asyncio==1.5.4
notebook==6.4.8
notebook-shim==0.1.0
numpy==1.21.5
orderedmultidict==1.0.1
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
partd==1.2.0
pathspec==0.10.0
pbr==5.10.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==2.5.2
prometheus-client==0.13.1
prompt-toolkit==3.0.28
protobuf==4.24.4
psutil==5.9.0
psycopg2==2.9.3
ptyprocess==0.7.0
pyarrow==7.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodomex==3.19.0
pydantic==2.4.2
pydantic_core==2.10.1
Pygments==2.16.1
PyHopsHive==0.6.4.1.dev0
pyhumps==1.6.1
pyjks==20.0.0
PyMySQL==1.1.0
pyparsing==2.4.7
pyperclip==1.8.2
pyrsistent==0.18.1
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2021.3
PyYAML==6.0
pyzmq==22.3.0
ratelim==0.1.6
requests==2.27.1
rich==13.6.0
ruamel.yaml==0.17.17
ruamel.yaml.clib==0.2.8
s3transfer==0.5.2
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
Send2Trash==1.8.0
sigtools==4.0.1
six==1.16.0
slackclient==2.9.4
smmap==5.0.0
sniffio==1.2.0
sortedcontainers==2.4.0
SQLAlchemy==2.0.21
starlette==0.27.0
stevedore==3.5.0
synchronicity==0.5.3
tblib==1.7.0
termcolor==2.3.0
terminado==0.13.1
testpath==0.6.0
threadpoolctl==3.1.0
thrift==0.16.0
toml==0.10.2
tomli==2.0.1
toolz==0.11.2
tornado==6.1
tqdm==4.66.1
traitlets==5.1.1
twofish==0.3.0
typed-ast==1.5.4
typer==0.9.0
types-certifi==2021.10.8.3
types-toml==0.10.8.7
typing_extensions==4.8.0
tzlocal==5.1
urllib3==1.26.8
us==2.0.2
watchfiles==0.20.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.1
yarl==1.7.2
zict==2.1.0
zipp==3.7.0
